[user]
    email = nachopitt@gmail.com
    name = nachopitt
[filter "lfs"]
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
[core]
    editor = vim
[color]
    ui = auto
[sendemail]
    smtpserver = mail.example.org
    smtpuser = nachopitt@gmail.com
    smtpencryption = ssl
    smtpserverport = 465
[init]
    templatedir = ~/.git-templates
[includeIf "hasconfig:remote.*.url:https://github.geo.conti.de/**"]
    path = ~/.gitconfig.conti
[includeIf "hasconfig:remote.*.url:git@github.geo.conti.de*/**"]
    path = ~/.gitconfig.conti
[includeIf "gitdir:/home/"]
    path = ~/.gitconfig.linux
[includeIf "gitdir:C:"]
    path = ~/.gitconfig.windows
